extends layout

block content
  div(class="flex-and-align-center error-page-container")
    div(class="flex-and-align-center")
        p(style="display: inline") #{statusCode}
        p="|"
        p(style="display: inline") #{message}
    pre #{error.stack}



